body{
    /*background: black;*/
    background-image: url("images/fondtreslong.png");
    background-size: 100%;
}

.conclusion{
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    display: none;

    color: white;
    font-family: 'Voltaire', sans-serif;
}

.wrapper{
    background: transparent;
}

#header{
    background: transparent;
}

#header{
    font-family: 'Voltaire', sans-serif;
}

#header #woman{
    background-image: url("images/avatarmeuf.png");
    background-size: 225px;
    background-color: transparent;
    width: 225px;
    height: 225px;
}

#header #man{
    background-image: url("images/avatarmec.png");
    background-size: 225px;
    background-color: transparent;
    width: 225px;
    height: 225px;
}

.avatar img{
    width: 200px;
    /*margin-left: 15%;*/
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
}

.avatar-me img{
    margin-left: 65%;
    width: 200px;
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
}

.current-chat{
    font-family: 'Voltaire', sans-serif;
}

.current-chat .message-wrapper{
    padding-left: 20%;
    padding-right: 20%;
}

.current-chat input{
    border: none;
    font-family: 'Voltaire', sans-serif;
}

.current-chat .bot-question img{
    max-width: 35%;
    margin: 20px;
    text-align: center;
}

.current-chat .bot-question p{
    line-height: 20px;
    font-size: 12pt;

    text-align: left;

    max-width: 40%;
    margin: 5px;

    color: #fff;
    background: orangered;

    padding: 1.0em 0.65em 1.0em 0.65em;

    border-radius: 10px;
}

.inactive-question{
    line-height: 20px;
    font-size: 12pt;

    text-align: left;

    max-width: 40%;
    margin: 5px;

    color: #fff;
    /*background: orangered;*/
    border-radius: 10px;

    padding: 1.0em 0.65em 1.0em 0.65em;
}

.inactive-question p{
    background: orangered;
    text-align: left;
}

.inactive-question img{
    max-width: 25%;
    margin: 5px;
    background: transparent;
}

.current-chat .inactive-user-answer{
    text-align: right;
    line-height: 20px;
    font-size: 12pt;
}

.current-chat .inactive-user-answer .inactive-question{
    background: deeppink;
    border-radius: 10px;
}

.current-chat .user-answer{
    text-align: center;
    line-height: 20px;
    font-size: 12pt;
    padding-top: 20%;
}

.current-chat .user-answer .button{
    max-width: 40%;
    margin: 5px;
    text-align: left;

    /*background: transparent;*/
    /*box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #6E00FF, 0 0 35px #6E00FF, 0 0 40px #6E00FF;*/

    padding: 1.0em 0.65em 1.0em 0.65em;

    background: white;
    color: rebeccapurple;

    /*box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 30px #6E00FF,*/
    /*inset 0 0 5px #fff, inset 0 0 10px #fff, inset 0 0 30px #6E00FF;*/
}

.popout {
    animation: popout 1s ease;
    -webkit-animation: popout 1s ease;
}
@keyframes popout {
    from{transform:scale(0)}
    /*80%{transform:scale(1.2)}*/
    to{transform:scale(1)}
}
@-webkit-keyframes popout {
    from{-webkit-transform:scale(0)}
    /*80%{-webkit-transform:scale(1.2)}*/
    to{-webkit-transform:scale(1)}
}